# Ignore node_modules directory
frontend/node_modules/

# Ignore Frontend build directory
frontend/build/

# Ignore package-lock.json
package-lock.json

# Ignore .env files
.env

# Ignore build directory
build/